
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    /* color */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondry-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;
    
    /* fonts */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12re;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* site max width */
    --site-max-width: 1300px;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor:pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.section-title{
    text-align: center;
    padding: 60px 0 100px;
    font-size: var(--font-size-l);
    text-transform: uppercase;
}

.section-title::after{
    content: "";
    width:80px;
    height: 5px;
    display: block;
    margin: 8px auto 0;
    border-radius: var(--border-radius-circle);
    background: var(--secondry-color);
}
/* navbar sytling */
header{
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .nav-menu{
    display: flex;
    gap: 10px; 
}
.navbar, .nav-logo, .nav-txt {
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
}
.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
    color: var(--primary-color);
    background: var(--secondry-color);
}

.navbar #menu-close-button,
.navbar #menu-open-button {
    display: none;
}

/* hero section */
.hero-section{
    min-height: 100vh;
    background: var(--primary-color);
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;

}
.hero-section .hero-data .title{
    font-size: var(--font-size-xxl);
    color: var(--secondry-color);
    font-family: "miniver", "sans-serif";
}

.hero-section .hero-data .subtitle{
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-data .description{
    font-size: var(--font-size-m);
    max-width: 70%;
    margin: 24px 0 40px;
}
.hero-section .hero-data .buttons{
    display: flex;
    gap: 23px;
}
.hero-section .hero-data .button{
    padding: 10px 26px;
    color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);
    background: var(--secondry-color);
    font-weight: var(--font-weight-medium);
}
.hero-section .hero-data .button:hover, 
.hero-section .hero-data .contact-us{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}
.hero-section .hero-data .contact-us:hover{
    color: var(--white-color);
    border-color: var(--secondry-color);
    background: var(--secondry-color);
}
.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
    margin-top: 50px;
}
.hero-section .hero-image-wrapper .hero-image{
    margin-top: 40px;
    max-height: 80vh;
    border-radius: var(--border-radius-m)
}

/* about section styling */
.about-section{
    padding: 120px 0;
    background-color: var(--light-pink-color);
}
.about-section .section-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-detail{
    max-width: 50%;
}
.about-section .about-image-wraper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}
.about-section .about-detail .section-title{
    padding: 0 0 30px;
} 

.about-section .social-link-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.about-section .social-link-list .social-link{
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2 ease;
}

.about-section .social-link-list .social-link:hover{
    color: var(--secondry-color);
}
.about-section .about-detail {
    text-align: center;
    line-height: 30px;
    margin: 50px 0 30px;
    font-size: var(--font-size-m);
}

/* menu styling */
.menu-section{
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: calc(100% / 3 - 80px);
}
.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}
.menu-section .menu-list .menu-item .name{
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-semibold);
        margin: 12px 0;
}
.menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-m);
}

/* testimoniales styling */
.testimonials-section {
    background: var(--light-pink-color);
    padding: 50px 0 100px;
}
.testimonials-section .testimonial{
    user-select: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 35px;
}
.testimonials-section .testimonial .name{
    font-size: var(--font-size-m);
    margin-bottom: 16px;
}
.testimonials-section .testimonial .feedback{
    line-height: 25px;
    margin-bottom: 50px;
}
.testimonials-section .testimonials-list .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: var(--border-radius-circle);
}

.testimonials-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondry-color);
}
.testimonials-section .swiper-slider-button{
    color: var(--secondry-color);
    transition: 0.3s ease;
}
.testimonials-section .swiper-slider-button:hover{
    color: var(--primary-color);
}

.testimonials-section .slider-wraper{
    overflow: hidden;
    margin: 0 30px 60px;
}

/* gallery styling */

.gallery-section{
    padding: 50px 0 100px;
}

.gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item{
    overflow: hidden;
    width: calc(100% / 3 - 32px);
    border-radius: var(--border-radius-s);
}
.gallery-section .gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;   
}
.gallery-section .gallery-item:hover .gallery-image{
    transform: scale(1.5);
}

/* contact us sytling */
.contact-section{
    background: var(--light-pink-color);
    padding: 50px 0 100px;
}

.contact-section .section-content{
    display: flex;
    gap: 23px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info{
    display: flex;
    gap: 23px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i{
    font-size: var(--font-size-m);
}

.contact-section .contact-form{
    width: 50%;
}

.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    outline: none;
    margin-top: 16px;
    padding: 0 12px;
    border-radius: var(--border-radius-s);
    background: var(--white-color);
    border: 1px solid var(--medium-gray-color);
}

.contact-section .contact-form .form-input:focus{
    border-color: var(--secondry-color);
}
.contact-section .contact-form .submit-button{
    background-color: var(--primary-color);
    border-radius: var(--border-radius-m);
    padding: 10px 26px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    margin-top: 16px;
    border: 1px solid var(--primary-color);
    transition: 0.2s ease;
}
.contact-section .contact-form .submit-button:hover{
    background-color: transparent;
    color: var(--primary-color);
}
.contact-section .contact-form textarea{
    height: 100px;
    padding: 12px;
    resize: vertical;
}

/* footer styling */
.footer-section{
    padding: 20px 0;
    background-color: var(--dark-color);
}
.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section :where(.copyright-text, .social-link ,.policy-link){
    color: var(--white-color);
    transition: 0.2s ease;
}
.footer-section .section-content .social-link-list{
    display: flex;
    gap: 23px;
}

.footer-section .section-content .social-link-list .social-link{
    font-size: var(--font-size-l);
}
.footer-section .policy-text .seperator{
    color: var(--white-color);
    margin: 0 2px;
}

.footer-section .section-content .social-link-list .social-link:hover,.footer-section .policy-text .policy-link:hover{
    color: var(--secondry-color);
}



/* responsive media query for max-width 1024px */
@media screen and (max-width:1024px){
    .menu-section .menu-list{
        gap: 60px;
    }
    .menu-section .menu-list .menu-item{
        width: calc(100% / 3 - 60px);   
    }
}

/* responsive media query for max-width 900px */
@media screen and (max-width:900px) {
    /* adjusing the font size */
    :root{
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.3);
    }

    .navbar #menu-close-button, 
    .navbar #menu-open-button {
        display: block;
        font-size: var(--font-size-l);
    }


    .navbar #menu-close-button{
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .navbar #menu-open-button{
        color: var(--white-color);
    }
    .navbar .nav-menu {
        display: block;
        background: var(--white-color);
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu{
        left: 0;
    }
    
    .navbar .nav-menu .nav-link{
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-m);
    }

    .hero-section .section-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    
        padding: 30px 20px 30px;
        text-align: center;
        gap: 50px;
    }

    .hero-section .section-content :is(.subtitle, .description), .about-section .about-detail, .contact-section .contact-form{
        max-width: 100%;
    }
    .hero-section .section-content .buttons{
        justify-content: center;
    }
    .hero-section .section-content .hero-image-wrapper{
        margin-top: 50px;
        max-width: 270px;
        margin-right: 0;
    }

    .hero-section .section-content .hero-image{
        border-radius: 10px;
    }

    .about-section .section-content{
        flex-direction: column-reverse;
        gap: 60px;
    }

    .about-section .about-image-wraper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;

    }
    .menu-section .menu-list{
        gap: 30px;
    }
    .menu-section .menu-list .menu-item{
     width: calc(100% / 2 - 30px);   
    }
    .menu-section .menu-list .menu-item .menu-image{
        max-width: 200px;
    }
    .gallery-section .gallery-list .gallery-item{
        width: calc(100% / 2 - 32px);
    }

    .contact-section .section-content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .contact-section .contact-form{
        min-width: 100%;
    }
    .contact-section .contact-info-list{
        justify-content: flex-start;
    }

}   

@media screen and (max-width: 640px) {
    .menu-section .menu-list .menu-item {
        width: 100%;
    }   

    .menu-section .menu-list{
        gap: 60px;
    }

    .testimonials-section .slider-wraper{
        margin: 0 0 30px;
    }
    .testimonials-section .swiper-slider-button{
        display: none;
    }
    .gallery-section .gallery-list .gallery-item{
        width: 100%;
    }

    .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
    }
}